hr {
	border-color: #4e5d6c;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.header .navbar-app .navbar-toggle {
	margin-left: 5px;
	border-color: transparent;
	padding: 6px 10px;
}

	.header .navbar-app .navbar-toggle .navbar-text {
		margin: 0;
	}

	.header .navbar-app .navbar-toggle:hover,
	.header .navbar-app .navbar-toggle:focus {
		background: none;
	}

.app {
	padding-top: 70px;
}

	.app .page-header {
		margin-top: 0px;
	}

	.app .panel-body p {
		margin: 0;
		font-weight: 700;
	}

	.app .panel-poll {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	.app a.list-group-item {
		border-top: 1px solid #2B3E50;
		cursor: pointer;
	}

.footer {
	font-size: 12px;
}
